In [1]:
# Arman Hussain
# Full Time
# Friday 27th March 2020
# Dave Baker

In [16]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [3]:
df = pd.read_csv('kc_house_data.csv')

In [4]:
#We are dropping the columns that are not needed as specified below

df.drop(columns=['date', 'view', 'sqft_above', 'sqft_basement', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15'], inplace=True)

In [5]:
df

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,yr_built
0,7129300520,221900.0,3,1.00,1180,5650,1.0,NaN,3,7,1955
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0.0,3,7,1951
2,5631500400,180000.0,2,1.00,770,10000,1.0,0.0,3,6,1933
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0.0,5,7,1965
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0.0,3,8,1987
5,7237550310,1230000.0,4,4.50,5420,101930,1.0,0.0,3,11,2001
6,1321400060,257500.0,3,2.25,1715,6819,2.0,0.0,3,7,1995
7,2008000270,291850.0,3,1.50,1060,9711,1.0,0.0,3,7,1963
8,2414600126,229500.0,3,1.00,1780,7470,1.0,0.0,3,7,1960
9,3793500160,323000.0,3,2.50,1890,6560,2.0,0.0,3,7,2003
10,1736800520,662500.0,3,2.50,3560,9796,1.0,NaN,3,8,1965
11,9212900260,468000.0,2,1.00,1160,6000,1.0,0.0,4,7,1942
12,114101516,310000.0,3,1.00,1430,19901,1.5,0.0,4,7,1927
13,6054650070,400000.0,3,1.75,1370,9680,1.0,0.0,4,7,1977
14,1175000570,530000.0,5,2.00,1810,4850,1.5,0.0,3,7,1900
15,9297300055,650000.0,4,3.00,2950,5000,2.0,0.0,3,9,1979
16,1875500060,395000.0,3,2.00,1890,14040,2.0,0.0,3,7,1994
17,6865200140,485000.0,4,1.00,1600,4300,1.5,0.0,4,7,1916
18,16000397,189000.0,2,1.00,1200,9850,1.0,0.0,4,7,1921
19,7983200060,230000.0,3,1.00,1250,9774,1.0,0.0,4,7,1969
20,6300500875,385000.0,4,1.75,1620,4980,1.0,0.0,4,7,1947
21,2524049179,2000000.0,3,2.75,3050,44867,1.0,0.0,3,9,1968
22,7137970340,285000.0,5,2.50,2270,6300,2.0,0.0,3,8,1995
23,8091400200,252700.0,2,1.50,1070,9643,1.0,NaN,3,7,1985
24,3814700200,329000.0,3,2.25,2450,6500,2.0,0.0,4,8,1985
25,1202000200,233000.0,3,2.00,1710,4697,1.5,0.0,5,6,1941
26,1794500383,937000.0,3,1.75,2450,2691,2.0,0.0,3,8,1915
27,3303700376,667000.0,3,1.00,1400,1581,1.5,0.0,5,8,1909
28,5101402488,438000.0,3,1.75,1520,6380,1.0,0.0,3,7,1948
29,1873100390,719000.0,4,2.50,2570,7173,2.0,0.0,3,8,2005
...,...,...,...,...,...,...,...,...,...,...,...
21567,2025049203,399950.0,2,1.00,710,1157,2.0,NaN,4,7,1943
21568,952006823,380000.0,3,2.50,1260,900,2.0,0.0,3,7,2007
21569,3832050760,270000.0,3,2.50,1870,5000,2.0,0.0,3,7,2009
21570,2767604724,505000.0,2,2.50,1430,1201,3.0,0.0,3,8,2009
21571,6632300207,385000.0,3,2.50,1520,1488,3.0,0.0,3,8,2006
21572,2767600688,414500.0,2,1.50,1210,1278,2.0,0.0,3,8,2007
21573,7570050450,347500.0,3,2.50,2540,4760,2.0,0.0,3,8,2010
21574,7430200100,1220000.0,4,3.50,4910,9444,1.5,0.0,3,11,2007
21575,4140940150,572000.0,4,2.75,2770,3852,2.0,0.0,3,8,2014
21576,1931300412,475000.0,3,2.25,1190,1200,3.0,0.0,3,8,2008
21577,8672200110,1090000.0,5,3.75,4170,8142,2.0,0.0,3,10,2006
21578,5087900040,350000.0,4,2.75,2500,5995,2.0,NaN,3,8,2008
21579,1972201967,520000.0,2,2.25,1530,981,3.0,0.0,3,8,2006
21580,7502800100,679950.0,5,2.75,3600,9437,2.0,0.0,3,9,2014
21581,191100405,1580000.0,4,3.25,3410,10125,2.0,0.0,3,10,2007
21582,8956200760,541800.0,4,2.50,3118,7866,2.0,NaN,3,9,2014
21583,7202300110,810000.0,4,3.00,3990,7838,2.0,0.0,3,9,2003
21584,249000205,1540000.0,5,3.75,4470,8088,2.0,0.0,3,11,2008
21585,5100403806,467000.0,3,2.50,1425,1179,3.0,0.0,3,8,2008
21586,844000965,224000.0,3,1.75,1500,11968,1.0,NaN,3,6,2014
21587,7852140040,507250.0,3,2.50,2270,5536,2.0,NaN,3,8,2003
21588,9834201367,429000.0,3,2.00,1490,1126,3.0,0.0,3,8,2014
21589,3448900210,610685.0,4,2.50,2520,6023,2.0,0.0,3,9,2014
21590,7936000429,1010000.0,4,3.50,3510,7200,2.0,0.0,3,9,2009
21591,2997800021,475000.0,3,2.50,1310,1294,2.0,0.0,3,8,2008
21592,263000018,360000.0,3,2.50,1530,1131,3.0,0.0,3,8,2009
21593,6600060120,400000.0,4,2.50,2310,5813,2.0,0.0,3,8,2014
21594,1523300141,402101.0,2,0.75,1020,1350,2.0,0.0,3,7,2009
21595,291310100,400000.0,3,2.50,1600,2388,2.0,NaN,3,8,2004
21596,1523300157,325000.0,2,0.75,1020,1076,2.0,0.0,3,7,2008

In [6]:
df.shape

(21597, 11)

In [7]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,yr_built
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,19221.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,0.007596,3.409825,7.657915,1970.999676
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,0.086825,0.650546,1.173200,29.375234
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,0.000000,1.000000,3.000000,1900.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,3.000000,7.000000,1951.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,3.000000,7.000000,1975.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,0.000000,4.000000,8.000000,1997.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,5.000000,13.000000,2015.000000

In [8]:
df.isna().any()

id             False
price          False
bedrooms       False
bathrooms      False
sqft_living    False
sqft_lot       False
floors         False
waterfront      True
condition      False
grade          False
yr_built       False
dtype: bool

In [9]:
df.isna().sum()

id                0
price             0
bedrooms          0
bathrooms         0
sqft_living       0
sqft_lot          0
floors            0
waterfront     2376
condition         0
grade             0
yr_built          0
dtype: int64

In [11]:
df.dropna(subset=['waterfront'], inplace=True)

In [13]:
df.isna().sum()

id             0
price          0
bedrooms       0
bathrooms      0
sqft_living    0
sqft_lot       0
floors         0
waterfront     0
condition      0
grade          0
yr_built       0
dtype: int64

In [14]:
df.shape

(19221, 11)

In [15]:
df

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,yr_built
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0.0,3,7,1951
2,5631500400,180000.0,2,1.00,770,10000,1.0,0.0,3,6,1933
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0.0,5,7,1965
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0.0,3,8,1987
5,7237550310,1230000.0,4,4.50,5420,101930,1.0,0.0,3,11,2001
6,1321400060,257500.0,3,2.25,1715,6819,2.0,0.0,3,7,1995
7,2008000270,291850.0,3,1.50,1060,9711,1.0,0.0,3,7,1963
8,2414600126,229500.0,3,1.00,1780,7470,1.0,0.0,3,7,1960
9,3793500160,323000.0,3,2.50,1890,6560,2.0,0.0,3,7,2003
11,9212900260,468000.0,2,1.00,1160,6000,1.0,0.0,4,7,1942
12,114101516,310000.0,3,1.00,1430,19901,1.5,0.0,4,7,1927
13,6054650070,400000.0,3,1.75,1370,9680,1.0,0.0,4,7,1977
14,1175000570,530000.0,5,2.00,1810,4850,1.5,0.0,3,7,1900
15,9297300055,650000.0,4,3.00,2950,5000,2.0,0.0,3,9,1979
16,1875500060,395000.0,3,2.00,1890,14040,2.0,0.0,3,7,1994
17,6865200140,485000.0,4,1.00,1600,4300,1.5,0.0,4,7,1916
18,16000397,189000.0,2,1.00,1200,9850,1.0,0.0,4,7,1921
19,7983200060,230000.0,3,1.00,1250,9774,1.0,0.0,4,7,1969
20,6300500875,385000.0,4,1.75,1620,4980,1.0,0.0,4,7,1947
21,2524049179,2000000.0,3,2.75,3050,44867,1.0,0.0,3,9,1968
22,7137970340,285000.0,5,2.50,2270,6300,2.0,0.0,3,8,1995
24,3814700200,329000.0,3,2.25,2450,6500,2.0,0.0,4,8,1985
25,1202000200,233000.0,3,2.00,1710,4697,1.5,0.0,5,6,1941
26,1794500383,937000.0,3,1.75,2450,2691,2.0,0.0,3,8,1915
27,3303700376,667000.0,3,1.00,1400,1581,1.5,0.0,5,8,1909
28,5101402488,438000.0,3,1.75,1520,6380,1.0,0.0,3,7,1948
29,1873100390,719000.0,4,2.50,2570,7173,2.0,0.0,3,8,2005
30,8562750320,580500.0,3,2.50,2320,3980,2.0,0.0,3,8,2003
31,2426039314,280000.0,2,1.50,1190,1265,3.0,0.0,3,7,2005
32,461000390,687500.0,4,1.75,2330,5000,1.5,0.0,4,7,1929
...,...,...,...,...,...,...,...,...,...,...,...
21560,9253900271,3570000.0,5,4.50,4850,10584,2.0,1.0,3,10,2007
21561,3881900317,579000.0,4,3.25,1900,2631,2.0,0.0,3,9,2014
21563,7011201004,645000.0,3,3.25,1730,1229,2.0,0.0,3,9,2008
21564,7853420110,594866.0,3,3.00,2780,6000,2.0,0.0,3,9,2013
21565,7853420110,625000.0,3,3.00,2780,6000,2.0,0.0,3,9,2013
21566,3052700432,490000.0,3,2.25,1500,1290,2.0,0.0,3,8,2006
21568,952006823,380000.0,3,2.50,1260,900,2.0,0.0,3,7,2007
21569,3832050760,270000.0,3,2.50,1870,5000,2.0,0.0,3,7,2009
21570,2767604724,505000.0,2,2.50,1430,1201,3.0,0.0,3,8,2009
21571,6632300207,385000.0,3,2.50,1520,1488,3.0,0.0,3,8,2006
21572,2767600688,414500.0,2,1.50,1210,1278,2.0,0.0,3,8,2007
21573,7570050450,347500.0,3,2.50,2540,4760,2.0,0.0,3,8,2010
21574,7430200100,1220000.0,4,3.50,4910,9444,1.5,0.0,3,11,2007
21575,4140940150,572000.0,4,2.75,2770,3852,2.0,0.0,3,8,2014
21576,1931300412,475000.0,3,2.25,1190,1200,3.0,0.0,3,8,2008
21577,8672200110,1090000.0,5,3.75,4170,8142,2.0,0.0,3,10,2006
21579,1972201967,520000.0,2,2.25,1530,981,3.0,0.0,3,8,2006
21580,7502800100,679950.0,5,2.75,3600,9437,2.0,0.0,3,9,2014
21581,191100405,1580000.0,4,3.25,3410,10125,2.0,0.0,3,10,2007
21583,7202300110,810000.0,4,3.00,3990,7838,2.0,0.0,3,9,2003
21584,249000205,1540000.0,5,3.75,4470,8088,2.0,0.0,3,11,2008
21585,5100403806,467000.0,3,2.50,1425,1179,3.0,0.0,3,8,2008
21588,9834201367,429000.0,3,2.00,1490,1126,3.0,0.0,3,8,2014
21589,3448900210,610685.0,4,2.50,2520,6023,2.0,0.0,3,9,2014
21590,7936000429,1010000.0,4,3.50,3510,7200,2.0,0.0,3,9,2009
21591,2997800021,475000.0,3,2.50,1310,1294,2.0,0.0,3,8,2008
21592,263000018,360000.0,3,2.50,1530,1131,3.0,0.0,3,8,2009
21593,6600060120,400000.0,4,2.50,2310,5813,2.0,0.0,3,8,2014
21594,1523300141,402101.0,2,0.75,1020,1350,2.0,0.0,3,7,2009
21596,1523300157,325000.0,2,0.75,1020,1076,2.0,0.0,3,7,2008